<div id="footer">
	<!-- /// FOOTER   -->
	<div id="footer-bottom">

		<!-- /// FOOTER BOTTOM  ///// -->
		<div class="row">

			<div class="span2" id="footer-bottom-widget-area-1">
				<div class="widget widget_text">
					<div class="textwidget">
						<p class="last">
							<img style="width: 160px" src="{{ url:site }}addons/shared_addons/themes/kubo/img/logo.png" alt="" class="responsive-img">
						</p>
					</div><!-- end .textwidget -->
				</div><!-- end .widget_text -->
			</div><!-- end .span6 -->

			<div class="span3">
				<strong class="footer-title">Contactenos:</strong>
				<p>Cra 34 Nº 10-35 Of 101, Zona industrial Corferias</p>
				<p>(571) 3333333 - Fax  (571) 3333333</p>
			</div>

			<div class="span4">
				<strong class="footer-title">Mapa del sitio:</strong>
				<ul>
					<li class="footer-map list-icon"><a href="">Home</a></li>
					<li class="footer-map list-icon"><a href="">Sobre Nosotros</a></li>
					<li class="footer-map list-icon"><a href="">Servicios</a></li>
					<li class="footer-map list-icon"><a href="">Capacitación</a></li>
					<li class="li-right footer-map list-icon" style="margin-top: -85px"><a href="">Leyes y Normatividad</a></li>
					<li class="li-right footer-map list-icon" style="margin-top: -63px"><a href="">Contactenos</a></li>
					<li class="li-right footer-map list-icon" style="margin-top: -41px"><a href="">Zona Clientes</a></li>
				</ul>
			</div>


			<div class="span3 text-right" id="footer-bottom-widget-area-2">
				<strong class="footer-title">Siguenos en:</strong>
				<div class="widget ewf_widget_social_media">
					<div class="fixed">
						<a href="https://www.facebook.com" target="_blank">
						<img src="{{ url:site }}addons/shared_addons/themes/kubo/img/icon-facebook.png" alt="Facebook">
						</a>
						<a href="https://www.twitter.com" target="_blank">
						<img src="{{ url:site }}addons/shared_addons/themes/kubo/img/icon-twitter.png" alt="Twitter">
						</a>
						<a href="https://www.linkedin.com" target="_blank">
						<img src="{{ url:site }}addons/shared_addons/themes/kubo/img/icon-linkedin.png" alt="Linkedin">
						</a>
						<a href="https://www.youtube.com" target="_blank">
						<img src="{{ url:site }}addons/shared_addons/themes/kubo/img/icon-youtube.png" alt="YouTuBe">
						</a>
						<a href="https://www.skype.com" target="_blank">
						<img src="{{ url:site }}addons/shared_addons/themes/kubo/img/icon-skype.png" alt="Skype">
						</a>
					</div>
				</div><!-- end .widget_social_media -->
			</div><!-- end .span6 -->


		</div><!-- end .row -->

		<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

	</div><!-- end #footer-bottom -->

	<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div><!-- end #footer -->


