<div id="header">
	<!-- /// HEADER   -->
	<div class="row">
		<div class="span2">
			<!-- // Logo // -->
			<a href="home" id="logo">
				{{ theme:img file="logo.png" }}
				<img src="{{ url:site }}addons/shared_addons/themes/kubo/img/logo.png" alt="" class="responsive-img">
			</a>
		</div><!-- end .span3 -->
		<div class="span10">
			<!-- // Mobile menu trigger // -->
			<a href="#" id="mobile-menu-trigger">
				<i class="fa fa-bars"></i>
			</a>
			<!-- // Menu // -->
			<!-- class="current" -->
			<ul class="sf-menu" id="menu">
				<li><a href="">Home</a></li>
				<li><a href="{{ url:site }}sobre_nosotros">Sobre Nosotros</a></li>
				<li><a href="{{ url:site }}servicios">Servicios</a></li>
				<li><a href="{{ url:site }}capacitacion">Capacitación</a></li>
				<li><a href="{{ url:site }}leyes">Leyes y Normatividad</a></li>
				<li><a href="{{ url:site }}contactenos">Contactenos</a></li>
				<li><a href="#">Clientes</a></li>
			</ul>
		</div><!-- end .span9 -->
	</div><!-- end .row -->		
</div><!-- end #header -->